.text-decorator-none{
    text-decoration: none;
}
.postagem{
    text-align: center !important;

}
 .MuiCardActions-root{
    display: block !important;
}
.gridpostagem{
    display: flex;
    flex-wrap: wrap;
    
}
