.cursor{
    cursor: pointer;
    color: white;
}
.text-decoration-none{
    text-decoration: none;
}

.botao2{
    color: white;
}
.navbar{
    background-image: url(https://i.imgur.com/HADRLIf.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 22.5% !important;
    align-items: center;
    font-weight: bold;
    
}