.tituloSobre{
    font-weight: bold !important;
    color: #fff !important;    
 }
 .textoSobre{
    color: #fff !important;
 }
 .appbar{
    background-image: url(https://i.imgur.com/HADRLIf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 51.5%;
    margin-top: 40px;
 }
 .textotab{
   color: #fff !important;
   opacity: 1 !important;
 }
 .sobre{
    text-align: center;
    margin: 0 100px;
    
 }
