.btnModal{
    border-color: white !important;
    color: white !important;
    font-weight: bold !important;
    text-align: center;
    align-items: center;

}
.MuiPaper-root{
    background-color: rgba(9, 9, 9, 0.421) !important;
    color: white !important;
    
}



