.caixa{
    background-image: linear-gradient(to right, #1b9aaa, #a14ebf);
}

.titulo{
    color: white !important;
    font-weight: bold;
}

.botao1{
    border-color: white !important;
    background-image: linear-gradient(to right, #126570, #5c2c6d);
    color: white !important;
}

.postagens{
    background-color: white !important;
}