.caixa{
    background-image: url(https://i.imgur.com/0jHGSyf.jpg) ;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
caixa2{
    background-color: black;
}

.bemvindo{
    padding: 50px;
}

.titulo{
    color: white !important;
    font-weight: bold !important;
}

.botao1{
    border-color: white !important;
    color: white !important;
    font-weight: bold !important;
;
}

.postagens{
    background-color: rgba(108, 104, 104, 0.479) !important;
    border-radius: 10px;
}
.text-decorator-none{
    text-decoration: none;
}
.MuiCard-root{
    max-width: 450px !important;
    max-height: 850px !important;
}
