.box1{
    background-image: url(https://i.imgur.com/0jHGSyf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 82.2%;
    height: 120px;
    

}
.box2{
    background-image: url(https://i.imgur.com/0jHGSyf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 87.5%;
    height: 60px;
    background-color: black;

}
.textos{
    color: white !important;
}
.redes{
    height: 60px;
    margin: 0 5px;
}
