.gridprincadastro{
    background-image: url(https://i.imgur.com/cQ1kylh.jpg);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}


.gridcadastro{
    display: flex;
  justify-content: flex-end;
  align-items: center;
}
.formcadastro{
    background: #ffffffd2;
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 25px;
    width: 500px;  
}

.textos2{
    font-weight: bold !important;
}
.btnCancelar{
    margin-right: 20px !important; 
    font-weight: bold !important;

}
.btnCadast{
    background-color: #30a1d9 !important;
    color: white !important;
    font-weight: bold !important;


}
